
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.rancho-regular {
  font-family: "Rancho", cursive;
}


/* src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
